streamlit
biopython
numpy
plotly
matplotlib
typing-extensions
kaleido
# Install pyfamsa from a wheel file for better compatibility on hosted servers
pyfamsa @ https://github.com/dzyla/pyfamsa/releases/download/v0.6.0/pyfamsa-0.6.0-cp312-cp312-manylinux_2_34_x86_64.whl 
